@import url("../../static/css/user-styles.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* *, */
/* ::after, */
/* ::before { */
  /* border-radius: 2px !important; */
/* } */

body {
  font-family: "Rubik";

  --background-color: #fff;
  --color: #343a40;

  --status-0-color: #d1f3f8;
  --status-1-color: #ffe8d5;
  --status-2-color: #c5f8d6;
  --status-3-color: #d4fae0;

  background-color: var(--background-color);
  color: var(--color);
}
