.paneLeft {
  width: 100%;
  overflow: hidden; /*to hide header shadow*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paneRight {
  height: 100%;
}

.resizeHandle {
  flex: 0 0 2px;
  position: relative;
  outline: none;

  background-color: #e3e3e3;
  transition: background-color 0.1s;
}

.resizeHandle[data-resize-handle-active] {
  background-color: var(--mantine-color-blue-filled);
}

/* read pane */
.title {
  overflow-wrap: break-word;
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}

.textContainer {
  padding: 2.3rem 3rem;
  width: 100%;
}

/* translation pane */
.translationContainer {
  position: relative;
  height: 100%;
}

.dictTabsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  z-index: 2;
}
