.drawer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.header {
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.footer {
  padding: 1rem;
}

.scroll {
  flex: 1;
}

.linksInner {
  padding-top: 3rem;
  padding-bottom: var(--mantine-spacing-xl);
}

.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
}

.control:hover {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@media (prefers-color-scheme: dark) {
  .control:hover {
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-0);
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 0.4rem var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  border-left: 1px solid var(--mantine-color-gray-3);
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@media (prefers-color-scheme: dark) {
  .link {
    color: var(--mantine-color-dark-0);
    border-left: 1px solid var(--mantine-color-dark-4);
  }

  .link:hover {
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-0);
  }
}

.chevron {
  transition: transform 200ms ease;
}
