/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* /~ USER OVERRIDES ~/ */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* normal */
/* @font-face { */
  /* font-family: "Rubik"; */
  /* src: url("Rubik-Regular.woff") format("woff"); */

  /* font-style: normal; */
  /* font-weight: normal; */
/* } */

/* /~ semibold ~/ */
/* @font-face { */
  /* font-family: "Rubik"; */
  /* src: url("Rubik-Medium.woff") format("woff"); */
  /* font-style: normal; */
  /* font-weight: 500; */
/* } */

/* /~ bold ~/ */
/* @font-face { */
  /* font-family: "Rubik"; */
  /* src: url("Rubik-Bold.woff") format("woff"); */
  /* font-style: normal; */
  /* font-weight: 700; */
/* } */

#term-form #text,
#headertexttitle {
  font-weight: 500;
}

span.status0 {
  background-color: var(--status-0-color);
}

span.status1 {
  background-color: var(--status-1-color);
}

span.status2 {
  background-color: var(--status-2-color);
}

span.status3 {
  /* background-color: var(--status-3-color); */
  text-decoration: underline 4px var(--status-2-color);
  background-color: transparent;
}

span.status4 {
  background-color: var(--status-4-color);
}

span.status5 {
  background-color: var(--status-5-color);
}

#status input[type="radio"] {
  display: none;
  /* opacity: 0; */
  /* transform: translateX(10px); */
}

#status li:nth-child(4),
#status li:nth-child(5) {
  display: none;
}

#status {
  --status-border-color: #828e904d;
  width: min-content;
  padding: 0.2rem;
  padding-left: 0;
  gap: 0; /* resets gap present in styles.css */
}

#status li {
  display: flex;
  align-items: center;
  color: #797f86;

  margin: 0;
  position: relative;
}

#status label {
  border: 2px solid var(--status-border-color);
  width: 32px;
  text-align: center;
  box-sizing: border-box;
  padding: 3px 0 3px;
}

#status input[type="radio"]:checked + label {
  font-weight: 700;
  color: #3c3c3c;
  box-shadow: inset 0 0 0 2px #4e4f51c4;
  padding: 5px 0 5px;
  border: none;
  /* border: 2px solid #42a8ba4d; */
  /* border: 2px solid #1f92a5; */
  /* line-height: 2; */
}

#status input[type="radio"]#status-5:checked + label,
#status input[type="radio"]#status-6:checked + label
{
  color: #fff;
  font-weight: normal;
}

#status input[type="radio"]#status-5:checked + label {
  /* box-shadow: inset 0 0 0 2px #229336; */
  /* line-height: 1.8; */
  padding-right: 2px;
}

#status input[type="radio"]#status-0:checked + label {
  /* box-shadow: inset 0 0 0 2px #229336; */
  /* line-height: 1.8; */
  padding-left: 2px;
}

#status label[for="status-1"],
#status label[for="status-2"],
#status label[for="status-3"],
#status label[for="status-4"] {
  border-right: none;
  border-left: none;
}

#status label[for="status-0"] {
  background-color: var(--status-1-color);

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  border-right: none;
}

#status label[for="status-1"] {
  background-color: var(--status-2-color);
}

#status label[for="status-2"] {
  background-color: var(--status-3-color);
}

#status label[for="status-3"] {
  background-color: var(--status-4-color);
}

#status label[for="status-4"] {
  background-color: var(--status-5-color);
}

#status label[for="status-5"] {
  background-color: var(--status-6-color);

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  border-left: none;
}

#status label[for="status-6"]{
  background-color: var(--status-7-color);

  border-radius: 10px;

  margin-left: 10px;
}

#status label[for="status-5"],
#status label[for="status-6"] {
  /* font-size: 1.1rem; */
  /* text-align: center; */
  color: #fff;
  font-size: 0;
}


#status label[for="status-3"],
#status label[for="status-4"] {
  display: none;
}

#status label[for="status-5"]::after {
  content: "✔";
  font-size: 1rem;
}

#status label[for="status-6"]::after {
  content: "✖";
  font-size: 1rem;
}

#submit {
  padding: 0.4rem 1.2rem;
  background-color: #4e4f51;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

#submit:hover,
#submit:active {
  background-color: #5e5e5e;
  box-shadow: inset 0 0 0 2px #3d3d3d;
}

div#thetext {
  word-spacing: -2px;
}

span.textitem {
  /* font-size: 1.2rem; */
  color: inherit;
  margin-bottom: 0.1em;
  border-radius: 2px;
}

/* select only text elements (not whitespace or punctuations */
.textsentence span:not([class="textitem"]) {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

/* selecting multiple words adds padding to whitespace. remove them */
.textsentence span[class="textitem newmultiterm"] {
  padding-left: 0;
  padding-right: 0;
}

/* translation popup */
.ui-tooltip {
  font-family: inherit;
  color: inherit !important;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  /* padding: 0; */
  border: none;
}

#reading-footer h2 + h2 {
  display: none;
}

tr.odd {
  background-color: aliceblue !important;
}

a.book-title,
.sub-menu a {
  color: inherit;
}

#footerMarkRestAsKnownNextPage,
#footerMarkRestAsKnown,
#final_page_controls > h2,
#final_page_controls > h2 + p {
  display: none;
}

#read_pane_right::after {
  content: '';
  background-color: #dbefff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 11px;
  height: 110px;
  cursor: col-resize;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#read_pane_right {
  border-left: 1px solid #dbefff;
}

.dictframecontainer::after {
  content: '';
  background-color: #dbefff;
  position: absolute;
  top: 0;
  left: 50%;
  height: 11px;
  width: 60px;
  cursor: row-resize;
  transform: translate(-50%, -100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dictframecontainer {
  border-top: 1px solid #dbefff;
  overflow: unset;
}