.navbar {
  background-color: var(--mantine-color-white);
  height: 50rem;
  width: 19rem;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: var(--mantine-color-dark-6);
    border-right: 1px solid var(--mantine-color-dark-4);
  }
}

.header {
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  color: var(--mantine-color-black);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .header {
    color: var(--mantine-color-white);
    border-bottom: 1px solid var(--mantine-color-dark-4);
  }
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
}

.footer {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  border-top: 1px solid var(--mantine-color-gray-3);
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .footer {
    border-top: 1px solid var(--mantine-color-dark-4);
  }
}

.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
}

.control:hover {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@media (prefers-color-scheme: dark) {
  .control:hover {
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-0);
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  border-left: 1px solid var(--mantine-color-gray-3);
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@media (prefers-color-scheme: dark) {
  .link {
    color: var(--mantine-color-dark-0);
    border-left: 1px solid var(--mantine-color-dark-4);
  }

  .link:hover {
    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-0);
  }
}

.chevron {
  transition: transform 200ms ease;
}
