* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --status-0-color: #d5ffff;
  --status-1-color: #f5b8a9;
  --status-2-color: #f5cca9;
  --status-3-color: #f5e1a9;
  --status-4-color: #f5f3a9;
  --status-5-color: #ddffdd;

  --status-98-color: #ee8577;
  --status-99-color: #72da88;
}

#thetext p {
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0;
}

#thetext span {
  font-size: 1rem;
}

span.status0 {
  background-color: var(--status-0-color);
}

span.status1 {
  background-color: var(--status-1-color);
}

span.status2 {
  background-color: var(--status-2-color);
}

span.status3 {
  background-color: var(--status-3-color);
}

span.status4 {
  background-color: var(--status-4-color);
}

span.status5 {
  background-color: var(--status-5-color);
}

.wordhover {
  border-bottom: 1px solid blue !important;
}

.kwordmarked {
  border-bottom: 1px solid red !important;
}

.newmultiterm {
  background: yellow !important;
}
