*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  --status-0-color: #d5ffff;
  --status-1-color: #f5b8a9;
  --status-2-color: #f5cca9;
  --status-3-color: #f5e1a9;
  --status-4-color: #f5f3a9;
  --status-5-color: #ddffdd;

  --status-98-color: #ee8577;
  --status-99-color: #72da88;
}

.textparagraph {
  line-height: 1.25; /* needs to match the minimum set with adjustLineHeight*/
  margin-block: 1em;
}

.textparagraph,
.textsentence {
  /* The weird "font-size: 0%" prevents excess space between the spans! */
  /* span.textitem then re-sets the font size for the words. */
  font-size: 0;
}

.textitem {
  font-size: 1rem;
}

.flash {
  animation: flash-animation 0.3s 2 ease;
}

@keyframes flash-animation {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #ff6868;
  }
}

.status0 {
  background-color: var(--status-0-color);
}

.status1 {
  background-color: var(--status-1-color);
}

.status2 {
  background-color: var(--status-2-color);
}

.status3 {
  background-color: var(--status-3-color);
}

.status4 {
  background-color: var(--status-4-color);
}

.status5 {
  background-color: var(--status-5-color);
}

.wordhover {
  border-bottom: 1px solid blue !important;
}

.kwordmarked {
  border-bottom: 1px solid red !important;
}

.newmultiterm {
  background: yellow;
}
