.tippy-box[data-theme] {
  --tippy-font-color: #141414;
  --tippy-bg-color: #ffffff;
  --tippy-border-color: #e6e6e6;
  /* --tippy-border-color: transparent; */
  --tippy-shadow-color: #0008102e;
  
  color: var(--tippy-font-color);
  background-color: var(--tippy-bg-color);
  border: 1px solid var(--tippy-border-color);
  box-shadow: 0 0 14px -2px var(--tippy-shadow-color);
}

.tippy-arrow:after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-theme][data-placement^="top"] > .tippy-arrow:after {
  bottom: -8px;
  left: 0;
  border-width: 8px 8px 0;
  transform-origin: center top;
  border-top-color: var(--tippy-border-color);
}

.tippy-box[data-theme][data-placement^="bottom"] > .tippy-arrow:after {
  top: -8px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: var(--tippy-border-color);
  transform-origin: center bottom;
}

.tippy-box[data-theme][data-placement^="top"]
  > .tippy-arrow:before {
  border-top-color: var(--tippy-bg-color);
  bottom: -6px;
}

.tippy-box[data-theme][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: var(--tippy-bg-color);
  top: -6px;
}

.tippy-box[data-theme] > .tippy-backdrop {
  background-color: var(--tippy-border-color);
}

.tippy-box[data-theme] > .tippy-svg-arrow {
  fill: var(--tippy-border-color);
}

.tippy-box[data-theme] > .tippy-arrow:after,
.tippy-box[data-theme] > .tippy-svg-arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
}