.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 9rem);
  position: fixed;
  bottom: 1rem;
}

.ul {
  display: flex;
  gap: 2px;
}

.li {
  list-style: none;
}
