.paneLeft {
  width: 100%;
  overflow: hidden; /*to hide header shadow*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paneRight {
  height: 100%;
}

.title {
  overflow-wrap: break-word;
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}

.textContainer {
  padding: 2.3rem 3rem;
  width: 100%;
}

.header {
  padding-block: 1rem;
  padding-right: 2rem;
  padding-left: 3rem;
  overflow: hidden;
}

.resizeHandle {
  flex: 0 0 2px;
  position: relative;
  outline: none;

  /* background: linear-gradient(
    90deg,
    #00000000 35%,
    #e3e3e3 35%,
    #e3e3e3 65%,
    #00000000 65%
  ); */
  background-color: #e3e3e3;
  transition: background-color 0.1s;
}

.resizeHandle[data-resize-handle-active] {
  /* background: linear-gradient(
    90deg,
    #00000000 25%,
    var(--mantine-color-blue-filled) 25%,
    var(--mantine-color-blue-filled) 75%,
    #00000000 75%
  ); */
  background-color: var(--mantine-color-blue-filled);
}

.dictPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  z-index: 2;
}
