.status0 {
  --lute-color-highlight-status: var(--lute-color-highlight-status0);
  --lute-color-text-status: var(--lute-text-color-status0);
}

.status1 {
  --lute-color-highlight-status: var(--lute-color-highlight-status1);
  --lute-color-text-status: var(--lute-text-color-status1);
}

.status2 {
  --lute-color-highlight-status: var(--lute-color-highlight-status2);
  --lute-color-text-status: var(--lute-text-color-status2);
}

.status3 {
  --lute-color-highlight-status: var(--lute-color-highlight-status3);
  --lute-color-text-status: var(--lute-text-color-status3);
}

.status4 {
  --lute-color-highlight-status: var(--lute-color-highlight-status4);
  --lute-color-text-status: var(--lute-text-color-status4);
}

.status5 {
  --lute-color-highlight-status: var(--lute-color-highlight-status5);
  --lute-color-text-status: var(--lute-text-color-status5);
}

.status98 {
  --lute-color-highlight-status: var(--lute-color-highlight-status98);
  --lute-color-text-status: var(--lute-text-color-status98);
}

.status99 {
  --lute-color-highlight-status: var(--lute-color-highlight-status99);
  --lute-color-text-status: var(--lute-text-color-status99);
}

.highlight [data-highlight-type="bg"],
[data-highlight-type="bg"].wordhover {
  background-color: var(--lute-color-highlight-status);
  color: var(--lute-color-text-status);
}

.highlight [data-highlight-type="text"],
[data-highlight-type="text"].wordhover {
  color: var(--lute-color-highlight-status);
  background-color: transparent;
}

.highlight [data-highlight-type="dashed"],
[data-highlight-type="dashed"].wordhover {
  text-decoration: 2px underline dashed var(--lute-color-highlight-status);
  text-underline-offset: 2px;
  background-color: transparent;
}

.highlight [data-highlight-type="solid"],
[data-highlight-type="solid"].wordhover {
  text-decoration: 2px underline solid var(--lute-color-highlight-status);
  text-underline-offset: 2px;
  background-color: transparent;
}

.textitem.wordhover {
  text-decoration: underline 2px solid var(--lute-color-highlight-wordhover);
  text-underline-offset: 2px;
}

.textitem.kwordmarked {
  text-decoration: underline 2px solid var(--lute-color-highlight-kwordmarked);
  text-underline-offset: 2px;
}

.textitem.newmultiterm {
  background: var(--lute-color-highlight-multiterm);
  border-radius: 0;
  color: var(--lute-text-color-multiterm);
  text-decoration: none;
}

.textitem.flash-highlight {
  background-color: var(--lute-color-highlight-flash);
  color: var(--lute-text-color-flash);
}

.textitem.flash {
  animation: flash-animation 0.3s 2 ease;
  border-radius: 0;
}
