*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.thetext {
  line-height: 1;
  white-space: break-spaces;
}

.textitem {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  display: inline-block;
  padding-block: 0.1rem;
  line-height: 1;
  margin-bottom: 1px;

  font-size: inherit;

  transition: background 0.15s;
}

.word {
  padding-inline: 0.1rem;
  border-radius: 2px;
}

.newmultiterm {
  border-radius: 0;
}

.flash {
  animation: flash-animation 0.3s 2 ease;
}

@keyframes flash-animation {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: var(--lute-color-flash);
  }
}

.textitem {
  background: transparent;
}

.highlight .status0,
.wordhover.status0 {
  background-color: var(--lute-color-status-0);
}

.highlight .status1,
.wordhover.status1 {
  background-color: var(--lute-color-status-1);
}

.highlight .status2,
.wordhover.status2 {
  background-color: var(--lute-color-status-2);
}

.highlight .status3,
.wordhover.status3 {
  background-color: var(--lute-color-status-3);
}

.highlight .status4,
.wordhover.status4 {
  background-color: var(--lute-color-status-4);
}

.highlight .status5,
.wordhover.status5 {
  background-color: var(--lute-color-status-5);
}

.textitem.wordhover {
  text-decoration: underline 1px solid var(--lute-color-wordhover);
}

.textitem.kwordmarked {
  text-decoration: underline 1px solid var(--lute-color-kwordmarked);
}

.textitem.newmultiterm {
  background: var(--lute-color-multiterm);
}

.textitem.flash-highlight {
  background-color: var(--lute-color-flash);
}
