.container {
  max-width: 400px;
  font-size: 0.95rem;
}

.section {
  margin-top: 0.3rem;
}

.term {
  font-weight: 700;
}

.translation {
  margin-top: 0.3rem;
}

.image {
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}
