.paneLeft {
  width: 100%;
  overflow: hidden; /*to hide header shadow*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paneRight {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.textContainer {
  padding: 1.5rem 3rem;
  width: 100%;
}

.header {
  padding-block: 1rem;
  padding-right: 2rem;
  padding-left: 3rem;
  overflow: hidden;
}

.vdivider {
  cursor: ew-resize;
  position: fixed;
  top: 0;
  height: 100vh;
  translate: -5px;
  z-index: 12;
  background: linear-gradient(
    90deg,
    #00000000 35%,
    #e3e3e3 35%,
    #e3e3e3 65%,
    #00000000 65%
  );
}

.vdivider:hover {
  background: linear-gradient(
    90deg,
    #00000000 25%,
    var(--mantine-color-blue-filled) 25%,
    var(--mantine-color-blue-filled) 75%,
    #00000000 75%
  );
}

.hdivider {
  cursor: ns-resize;
  z-index: 1;
  background: linear-gradient(
    #00000000 35%,
    #e3e3e3 35%,
    #e3e3e3 65%,
    #00000000 65%
  );
}

.hdivider:hover {
  background: linear-gradient(
    #00000000 25%,
    var(--mantine-color-blue-filled) 25%,
    var(--mantine-color-blue-filled) 75%,
    #00000000 75%
  );
}

.dictPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  z-index: 2;
}
