.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme="dark"] .section {
  border-top-color: var(--mantine-color-dark-4);
}
