.label {
  color: var(--mantine-color-text);
}

.stat {
  color: var(--mantine-color-dimmed);
}

.card {
  cursor: pointer;
  user-select: none;
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  width: min-content;
}
